body{
    padding-left: 30px;
}

p{
    margin: 30px 0 30px 20px ;
}
button{
    background: rgb(142, 224, 237);
    border: none;
    border-radius: 5%;
    height: 50px;
    width: 80px;
    margin-left: 10px;
    margin-top: 20px;
}
button:hover{
    background: rgb(107, 174, 185);
}